version: '3.7'

networks:
  geonat:
    driver: bridge
  rpx_net:
    external: true
    name: rpx_net

services:
  pgadmin:
    image: dpage/pgadmin4:4.27
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    networks:
      - geonat

  db:
    image: kartoza/postgis:11.0-2.5
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASS=${POSTGRES_PASS}
      - ALLOW_IP_RANGE=0.0.0.0/0
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,"uuid-ossp","pg_trgm","postgis_raster"
      - EXTRA_CONF=datestyle='ISO, DMY'
    volumes:
      - ${PGDATA_DIR}:/var/lib/postgresql
      - ${GEONATURE_COMMON_DIR}:/geonature
    networks:
      - geonat

  geonature:
    image: ${GEONATURE_IMAGE}
    volumes:
      - ${GEONATURE_COMMON_DIR}:/geonature
      - ${BOOTSTRAP_DIR}:/mnt_bootstrap_files
    environment:
      - GEONATURE_PROTOCOL=${GEONATURE_PROTOCOL}
      - GEONATURE_DOMAIN=${GEONATURE_DOMAIN}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASS=${POSTGRES_PASS}
      - GEONATURE_VERSION=${GEONATURE_VERSION}
      - RESET_ALL=${RESET_ALL}
      - DEBUG=${DEBUG}
      - http_proxy=${HTTP_PROXY}
      - https_proxy=${HTTP_PROXY}
      - SRID_LOCAL=${SRID_LOCAL}
    networks:
      - geonat

  rpx:
    image: nginx:1.17-alpine
    volumes:
      - ${NGINX_CONF}:/etc/nginx/conf.d/default.conf
      - ${GEONATURE_COMMON_DIR}:/geonature
    networks:
      - geonat
      - rpx_net
    environment:
      - "VIRTUAL_HOST=${GEONATURE_DOMAIN}"
