POSTGRES_DB=geonature
POSTGRES_USER=geonature
POSTGRES_PASS=geonature
PGDATA_DIR=/home/admin_pnc/info/GeoNature-docker/projets/test/pgdata
BOOTSTRAP_DIR=/home/admin_pnc/info/GeoNature-docker/bootstrap_files
GEONATURE_COMMON_DIR=/home/admin_pnc/info/GeoNature-docker/projets/test/geonature_common
GEONATURE_DOMAIN=127.0.0.1  
GEONATURE_PROTOCOL=https
GEONATURE_VERSION=2.6.2
GEONATURE_DOCKER_VERSION=git-maj
RESET_ALL=false
DEBUG=false
SRID_LOCAL=2154 
GEONATURE_IMAGE=geonature:git-maj
NGINX_CONF=/home/admin_pnc/info/GeoNature-docker/nginx.conf
HTTP_PROXY=
PGADMIN_DEFAULT_EMAIL=user@domain.geonature_com
PGADMIN_DEFAULT_PASSWORD=SuperSecret
APPLICATIONS=geonature-2.6.2 usershub-2.1.3 taxhub-1.7.3 atlas-1.4.2
MODULES_GEONATURE=import-1.1.2 export-1.2.4 monitoring-0.2.1
MODULES_MONITORING=cheveche-main