POSTGRES_DB=geonature
POSTGRES_USER=geonature
POSTGRES_PASS=geonature
PGDATA_DIR=/applications/projets/geonature.brgm-rec.fr/pgdata
BOOTSTRAP_DIR=/applications/geonature/bootstrap_files
GEONATURE_COMMON_DIR=/applications/projets/geonature.brgm-rec.fr/geonature_common
GEONATURE_DOMAIN=geonature.brgm-rec.fr
GEONATURE_PROTOCOL=https
GEONATURE_VERSION=x.x.x
RESET_APP=true
DEBUG=true
GEONATURE_IMAGE=geonature:main
NGINX_CONF=/applications/geonature/nginx.conf
HTTP_PROXY=http://someproxy.url/youneedtouse/or/nothingotherwise
PGADMIN_DEFAULT_EMAIL=user@domain.geonature_com
PGADMIN_DEFAULT_PASSWORD=SuperSecret